<aside id="sidebar" style="margin-top:1.5%" class="column" data-ng-controller="navCtrl">
	<h3>Content</h3>
	<ul class="toggle">
		<li class="icn_settings"><a href="#/dashboard">Dashboard</a></li>
		<li class="icn_new_article"><a href="#/new-article">New Article</a></li>
	</ul>
	<h3>Admin</h3>
	<ul class="toggle">
<!-- 		<li class="icn_settings"><a href="#">Options</a></li>
		<li class="icn_security"><a href="#">Security</a></li> -->
		<li class="icn_jump_back"><a href="" ng-click="logout()">Logout</a></li>
	</ul>
	
	<footer>
		<hr />
		<p><strong>Copyright &copy; 2011 Website Admin</strong></p>
	</footer>
</aside>
<section id="main" class="column" data-ng-controller="dashboardCtrl">
		<article class="module width_full">
			<header><h3>Dashboard - Article List</h3></header>
		   <div class="row">
	        <div class="col-md-2">PageSize:
	            <select ng-model="entryLimit" class="form-control">
	                <option>5</option>
	                <option>10</option>
	                <option>20</option>
	                <option>50</option>
	                <option>100</option>
	            </select>
	        </div>
	        <div class="col-md-3">Filter:
	            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
	        </div>
	        <div class="col-md-4">
	            <h5>Filtered {{ filtered.length }} of {{ totalItems}} total Articles</h5>
	        </div>
	    </div>
    <br/>
	<div class="row">
        <div class="col-md-12" ng-show="filteredItems > 0">
            <table class="table table-bordered table-striped table-responsive">
	            <thead>
	            	<th> </th>
		            <th>Category</th>
		            <th>Title</th>
		            <th>Content</th>
		            <th>Image</th>
		            <th>Video</th>
		            <th>Action</th>
		        </thead>
		        <tbody>
		        	<tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
		        		<td> </td>
		        		<td>{{data.name}}</td>
		        		<td>{{data.title}}</td>
		        		<td><textarea rows="12"> {{data.content}} </textarea></td>
		        		<td><img height="60" width="60" src="{{data.image_link}}"></td>
		        		<td>
							<iframe width="200" height="200" ng-src="{{trustSrc(data.video_link)}}" frameborder="0" allowfullscreen></iframe>
		        		</td>
		        		<td>
		        			<a ng-href="#/new-article/{{data.id}}"><i class="fa fa-2x fa-edit"></i>
							</a>
							<a ng:click="removeItem($index)"><i class="fa fa-2x fa-trash-o"></i>
							</a>
		        		</td>

		        	</tr>
		        </tbody>
		    </table>
		</div>
	</div>
	<div class="row">
        <div class="col-md-12" ng-show="filteredItems == 0">
            <div class="col-md-12">
                <h4>No Articles found</h4>
            </div>
        </div>
        <div class="col-md-12" ng-show="filteredItems > 0">    
            <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>            
        </div>
	</div>


		</article><!-- end of post new article -->	
</section>