		<!---banner--->
	<!----start-slider-script---->
			<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!----//End-slider-script---->
			<!-- Slideshow 4 -->
			    <div  id="top" class="callbacks_container">
			      <ul class="rslides" id="slider4">
			        <li>
			          <img src="images/banner.jpg" alt="">
						<div class="caption bounceInDown" data-wow-delay="0.4s">
			          	<div class="slide-text-info">
			          		<h1>welcome to our marketplace</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed nisi metus,tristique ndolor non,ornare sagittis dolor.Nulla vestibulu lacus...</p>
			          		<div class="slide-btns">
			          			<a class="startnow" href="#">VIWE MORE</a>
			          			<a class="livedemo" href="#">VIDEO TOUR</a>
			          		</div>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="images/leaf.jpg" alt="">
			        <div class="caption">
			          	<div class="slide-text-info bounceInDown" data-wow-delay="0.4s">
			          		<h1>welcome to our marketplace</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed nisi metus,tristique ndolor non,ornare sagittis dolor.Nulla vestibulu lacus...</p>
			          		<div class="slide-btns">
			          			<a class="startnow" href="#">VIWE MORE</a>
			          			<a class="livedemo" href="#">VIDEO TOUR</a>
			          		</div>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="images/banner.jpg" alt="">
			          <div class="caption">
			          	<div class="slide-text-info bounceInDown" data-wow-delay="0.4s">
			          		<h1>welcome to our marketplace</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed nisi metus,tristique ndolor non,ornare sagittis dolor.Nulla vestibulu lacus...</p>
			          		<div class="slide-btns">
			          			<a class="startnow" href="#">VIWE MORE</a>
			          			<a class="livedemo" href="#">VIDEO TOUR</a>
			          		</div>
			          	</div>
			          </div>
			        </li>
			      </ul>
			    </div>	         
			    <div class="clearfix"> </div>
			<!----- //End-slider---->
	
		<div class="content">
			<div class="content-top" id="about">
				<div class="container">
					<div class="content-we">
						<h2><span class="we-are"> </span>
						WE ARE MODEST.</h2>
					</div>
				<div class="row">
					<div class="col-md-7 para-matter">
						<p class="sit"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum  quismagna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at. </p>
						<p class="sed">Phasellus sollicitudin ante eros ornare, sit amet luctus lorem semper. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut bibendum odio convallis eget. vel sodales arcu vestibulum</p>
					<div class="face">
							<ul>
								<li><a class="facebook" href="#"><span> </span></a></li>
								<li><a class="twitter"href="#"><span> </span></a></li>
								<li><a class="gmail"href="#"><span> </span></a></li>
								<div class="clearfix"> </div>
							</ul>
					</div>
					</div>
					<div class="col-md-5 text-matter">
						<div class="top-list">
							<div class="top-list-left">
								<span><label>01</label></span>
							</div>
							<div class="top-list-right">
								<h4>Dedication to the customers</h4>
								<p>Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae </p>
							</div>
						<div class="clearfix"> </div>	
						</div>
						<div class="top-list-middle">
							<div class="top-list-left">
								<span><label>02</label></span>
							</div>
							<div class="top-list-right">
								<h4>Dedication to the customers</h4>
								<p>Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae </p>
							</div>
						<div class="clearfix"> </div>	
						</div>
						<div class="top-list-last">
							<div class="top-list-left">
								<span><label>03</label></span>
							</div>
							<div class="top-list-right">
								<h4>Dedication to the customers</h4>
								<p>Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae </p>
							</div>
						<div class="clearfix"> </div>	
						</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="content-we-are" id="team">
			
				<div class="container">
					<div class="content-we">
						<h2><span class="we-are"> </span>
						meet our team.</h2>
					</div>
				<div class="row">
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Abbaz.PNG" /></a>
						<div class="image-bro">
						<h4>Abbaz Sayed</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Ankit.PNG" /></a>
						<div class="image-bro">
						<h4>Ankit Debnath</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Ayush.PNG" /></a>
						<div class="image-bro">
						<h4>Ayush Goyal</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Bharti.PNG" /></a>
						<div class="image-bro">
						<h4>Abishek Bharti</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Roy.PNG" /></a>
						<div class="image-bro">
						<h4>Riddhinil Roy</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Saikat.PNG" /></a>
						<div class="image-bro">
						<h4>Saikat Bhunia</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Sounok.PNG" /></a>
						<div class="image-bro">
						<h4>Sounok Kashyap</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
				<!---- End ---->
				</div>
			</div>
			</div>
			<div class="content-part-work" id="work">
				<div class="container">
					<div class="content-work">
						<h2><span class="work"> </span>
						lovely work.</h2>
					</div>
				<div class="row">
					<div class="col-md-4">
						<div class="partnership">
							<a href="#"><img class="img-responsive" src="images/sky.jpg"  alt=""/></a>
							<span class="plus"> </span>
							
							<p class="partnership-guid">partnership guidlines</p>
							
						</div>
					</div>
					<div class="col-md-4">
						<div class="partnership">
							<a href="#"><img class="img-responsive" src="images/high.jpg" alt=""/></a>
							<span class="plus"> </span>
							<p class="partnership-guid">partnership guidlines</p>
							
						</div>
					</div>
					<div class="col-md-4">
						<div class="partnership">
							<a href="#"><img class="img-responsive" src="images/road.jpg" title="sky" alt=""/></a>
							<span class="plus"> </span>
							<p class="partnership-guid">partnership guidlines</p>
							
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<div class="partnership">
							<a href="#"><img class="img-responsive" src="images/sea.jpg"  alt=""/></a>
							<span class="plus"> </span>
							
							<p class="partnership-guid">partnership guidlines</p>
							
						</div>
					</div>
					<div class="col-md-4">
						<div class="partnership">
							<a href="#"><img class="img-responsive" src="images/stone.jpg" alt=""/></a>
							<span class="plus"> </span>
							<p class="partnership-guid">partnership guidlines</p>
							
						</div>
					</div>
					<div class="col-md-4">
						<div class="partnership">
							<a href="#"><img class="img-responsive" src="images/bird.jpg" title="sky" alt=""/></a>
							<span class="plus"> </span>
							<p class="partnership-guid">partnership guidlines</p>
							
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="show-me">
				<a class="show-more"href="#">SHOW ME MORE</a>
				</div>
				</div>
			</div>

			<div class="content-what" id="services">
				<div class="container">
					<div class="content-we">
						<h2><span class="we-are"> </span>
						our community.</h2>
					</div>
					<div class="row">
						<div class="col-md-3 easy-them">
							<a href="#"><img class="img-responsive" src="images/services/Engg.png" alt=""/></a>
							<h4>Engineering</h4>
							<p>Demo Text.</p>
						</div>
						<div class="col-md-3 easy-them">
							<a href="#"><img class="img-responsive" src="images/services/Humanities.png" alt=""/></a>
							<h4>Humanities</h4>
							<p>Demo Text.</p>
						</div>
						<div class="col-md-3 easy-them">
							<a href="#"><img class="img-responsive" src="images/services/General Science.png"  alt=""/></a>
							<h4>General Science</h4>
							<p>Demo Text.</p>
						</div>
						<div class="col-md-3 easy-them">
							<a href="#"><img class="img-responsive" src="images/services/Commerce.png" alt=""/></a>
							<h4>Commerce</h4>
							<p>Demo Text.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					
					<div class="row">
						<div class="col-md-3 easy-them">
							<a href="#"><img class="img-responsive" src="images/services/Medical.png" alt=""/></a>
							<h4>Medical</h4>
							<p>Demo Text.</p>
						</div>
						<div class="col-md-3 easy-them">
							<a href="#"><img class="img-responsive" src="images/services/Law.png" alt=""/></a>
							<h4>Law</h4>
							<p>Demo Text.</p>
						</div>
						<div class="col-md-3 easy-them">
							<a href="#"><img class="img-responsive" src="images/services/performing art.png"  alt=""/></a>
							<h4>Performing Arts</h4>
							<p>Demo Text.</p>
						</div>
						<div class="col-md-3 easy-them">
							<a href="#"><img class="img-responsive" src="images/services/Arts.png" alt=""/></a>
							<h4>Fine Arts</h4>
							<p>Demo Text.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>	
			</div>
		
		<div class="content-features" id="features">
				<div class="container">
					<div class="content-work">
						<h2><span class="work"> </span>
						FEATURES.</h2>
					</div>
				<div class="row">
					<div class="col-md-4 features-grass">
						<a href="#"><img class="img-responsive" src="images/grass.jpg" alt=""/></a>
						<h4>Product Design: Eames Chairs</h4>
						<p>Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.</p>
					</div>
					<div class="col-md-4 features-grass">
						<a href="#"><img class="img-responsive" src="images/cycle.jpg" alt=""/></a>
						<h4>Elegant and Colorful Logos</h4>
						<p>Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.</p>
					</div>
					<div class="col-md-4 features-grass">
						<a href="#"><img class="img-responsive" src="images/water.jpg" alt=""/></a>
						<h4>A Showcase of Creative</h4>
						<p>Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				</div>
		</div>
			<div class="content-stay" id="contact">
				<div class="container">
					<div class="content-we-touch">
						<h2><span class="we-are-touch"> </span>
						stay in touch.</h2>
					</div>
				</div>
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3888.5634771679997!2d77.5643168!3d12.935754!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1589a715a323%3A0x388ae2026dc64723!2s1667%2C+2nd+Cross+Rd%2C+NR+Colony%2C+Basavanagudi%2C+Bengaluru%2C+Karnataka+560050!5e0!3m2!1sen!2sin!4v1410852548150"></iframe>
					
				 </div>
				 <div class="container">
					<div class="row contact-box">
					<div class="col-md-6 contact-info">
						<h3>contact information</h3>
						<p class="info"># 1667, 2nd Main, 2nd Cross</p>
						<p class="info">Kumaraswamy Layout, Bengaluru</p>
						<p class="info">Karnataka - 560078</p>
					</div>
					
					<div class="col-md-6 contact-form">
						<form>
							<div class="row">
								<div class="col-md-6 your-name">
									<span>YOUR NAME:</span>
									<input type="text"name="your name">
								</div>
								<div class="col-md-6 your-name">
									<span>YOUR EMAIL:</span>
									<input type="text"name="your email">
								</div>
							</div>
							
								<div class=" your-msg">
									<span>YOUR MESSAGE:</span>
									<textarea cols="70" rows="5"name="message"> </textarea>
								</div>
							
								<div class="your-submit">
									<input type="submit"value="SEND MESSAGE" />
								
							</div>
						</form>
					</div>
					</div>
					
					</div>

			</div>
		</div>
		