
<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" />

<div class="wrapper" data-ng-controller="loginCtrl">
	<form class="form-signin" name="form1">       
	  <h2 class="form-signin-heading">Please login</h2>
	  <input type="text" class="form-control" id="username" ng-model="user.mail" name="username" placeholder="Username" required="" autofocus="" />
	  <input style="margin-top: 15px;" type="password" class="form-control" id="password" ng-model="user.password" name="password" placeholder="Password" required=""/>      
	<!--   <button style="margin-top: 20px;" id="admin_login" class="btn btn-lg btn-primary btn-block">Login</button> 
	 -->  <!-- <a href="#/dashboard" style="margin-top: 20px;" id="admin_login" class="btn btn-lg btn-primary btn-block">Login</a> 
 -->	  <button style="margin-top: 20px;" class="btn btn-primary btn-lg btn-block" type="submit" ng-click="login(user)" ng-disabled="form1.$invalid">Log in</button>
	  <p style="color:red">{{msgtxt}}</p>
	</form>
</div>