	<div class="content-top" id="about">

		<div class="container">
			<div class="content-we">
				<h2><span class="we-are"> </span>
				WE ARE Connective PLUS+</h2>
			</div>
		<div class="row">
			<div class="col-md-7 para-matter">
				<p class="sit"> WE are a team of young and dedicated people working on a common mission to connect students,academia and industry at a common platform. </p>
				<p class="sed">WHAT WE DO is to connect people based on communities related to their branch of study and profession.</p>
				<p class="sed">HOW WE DO connect via social networking build and nurture communities provide services and products related to the respective fields.</p>
			<div class="face">
					<ul>
						<li><a class="facebook" href="#"><span> </span></a></li>
						<li><a class="twitter"href="#"><span> </span></a></li>
						<div class="clearfix"> </div>
					</ul>
			</div>
			</div>
			<!--<div class="col-md-5 text-matter">
				<div class="top-list">
					<div class="top-list-left">
						<span><label>01</label></span>
					</div>
					<div class="top-list-right">
						<h4>Dedication to the customers</h4>
						<p>Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae </p>
					</div>
				<div class="clearfix"> </div>	
				</div>
				<div class="top-list-middle">
					<div class="top-list-left">
						<span><label>02</label></span>
					</div>
					<div class="top-list-right">
						<h4>Dedication to the customers</h4>
						<p>Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae </p>
					</div>
				<div class="clearfix"> </div>	
				</div>
				<div class="top-list-last">
					<div class="top-list-left">
						<span><label>03</label></span>
					</div>
					<div class="top-list-right">
						<h4>Dedication to the customers</h4>
						<p>Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae </p>
					</div>
			</div>
		</div>-->
	</div>