	<div class="content-top" id="about">

		<div class="container">
			<div class="content-we">
				<h2><span class="we-are"> </span>
				WE ARE MODEST.</h2>
			</div>
		<div class="row">
			<div class="col-md-7 para-matter">
				<p class="sit"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum  quismagna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at. </p>
				<p class="sed">Phasellus sollicitudin ante eros ornare, sit amet luctus lorem semper. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut bibendum odio convallis eget. vel sodales arcu vestibulum</p>
			<div class="face">
					<ul>
						<li><a class="facebook" href="#"><span> </span></a></li>
						<li><a class="twitter"href="#"><span> </span></a></li>
						<li><a class="gmail"href="#"><span> </span></a></li>
						<div class="clearfix"> </div>
					</ul>
			</div>
			</div>
			<div class="col-md-5 text-matter">
				<div class="top-list">
					<div class="top-list-left">
						<span><label>01</label></span>
					</div>
					<div class="top-list-right">
						<h4>Dedication to the customers</h4>
						<p>Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae </p>
					</div>
				<div class="clearfix"> </div>	
				</div>
				<div class="top-list-middle">
					<div class="top-list-left">
						<span><label>02</label></span>
					</div>
					<div class="top-list-right">
						<h4>Dedication to the customers</h4>
						<p>Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae </p>
					</div>
				<div class="clearfix"> </div>	
				</div>
				<div class="top-list-last">
					<div class="top-list-left">
						<span><label>03</label></span>
					</div>
					<div class="top-list-right">
						<h4>Dedication to the customers</h4>
						<p>Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae </p>
					</div>
			</div>
		</div>
	</div>