<div class="content-stay">
	<div class="container">
		<div class="content-we-touch">
			<h2><span class="we-are-touch"> </span>
			stay in touch.</h2>
		</div>
	</div>
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3888.5634771679997!2d77.5643168!3d12.935754!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1589a715a323%3A0x388ae2026dc64723!2s1667%2C+2nd+Cross+Rd%2C+NR+Colony%2C+Basavanagudi%2C+Bengaluru%2C+Karnataka+560050!5e0!3m2!1sen!2sin!4v1410852548150"></iframe>
		
	 </div>
	 <div class="container">
		<div class="row contact-box">
		<div class="col-md-6 contact-info">
			<h3>contact information</h3>
			<p class="info"># 1667, 2nd Main, 2nd Cross</p>
			<p class="info">Kumaraswamy Layout, Bengaluru</p>
			<p class="info">Karnataka - 560078</p>
		</div>
		
		<div class="col-md-6 contact-form">
			<form>
				<div class="row">
					<div class="col-md-6 your-name">
						<span>YOUR NAME:</span>
						<input type="text"name="your name">
					</div>
					<div class="col-md-6 your-name">
						<span>YOUR EMAIL:</span>
						<input type="text"name="your email">
					</div>
				</div>
				
					<div class=" your-msg">
						<span>YOUR MESSAGE:</span>
						<textarea cols="70" rows="5"name="message"> </textarea>
					</div>
				
					<div class="your-submit">
						<input style="height:45px" type="submit"value="SEND MESSAGE" />
					
				</div>
			</form>
		</div>
		</div>
		
		</div>

</div>