<div class="content-features" id="features">
		<div class="container">
			<div class="content-work">
				<h2><span class="work"> </span>
				FEATURES.</h2>
			</div>
		<div class="row">
			<div class="col-md-4 features-grass">
				<a href="#"><img class="img-responsive" src="images/grass.jpg" alt=""/></a>
				<h4>Product Design: Eames Chairs</h4>
				<p>Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.</p>
			</div>
			<div class="col-md-4 features-grass">
				<a href="#"><img class="img-responsive" src="images/cycle.jpg" alt=""/></a>
				<h4>Elegant and Colorful Logos</h4>
				<p>Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.</p>
			</div>
			<div class="col-md-4 features-grass">
				<a href="#"><img class="img-responsive" src="images/water.jpg" alt=""/></a>
				<h4>A Showcase of Creative</h4>
				<p>Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		</div>
</div>