<div class="content-features" id="features">
		<div class="container">
			<div class="content-work">
				<h2><span class="work"> </span>
				CORE VALUES</h2>
			</div>
		<div class="row">
			<div class="col-md-4 features-grass">
				<a href="#"><img class="img-responsive" src="images/grass.jpg" alt=""/></a>
				<h4>Innovation</h4>
				<p>We love to innovate and thats what makes us different.</p>
			</div>
			<div class="col-md-4 features-grass">
				<a href="#"><img class="img-responsive" src="images/cycle.jpg" alt=""/></a>
				<h4>Teamwork</h4>
				<p>We explore our works and opportunities in team.we perform the best as a team.</p>
			</div>
			<div class="col-md-4 features-grass">
				<a href="#"><img class="img-responsive" src="images/water.jpg" alt=""/></a>
				<h4>Passionate</h4>
				<p>We follow our passion in the fields we are working on. we follow our dreams.</p>
			</div>
			<div class="col-md-4 features-grass">
				<a href="#"><img class="img-responsive" src="images/water.jpg" alt=""/></a>
				<h4>Commitment</h4>
				<p>We are commited towards our mission and leave no stone unturned to fulfill it.</p>
			</div>
			<div class="col-md-4 features-grass">
				<a href="#"><img class="img-responsive" src="images/grass.jpg" alt=""/></a>
				<h4>Collaborative</h4>
				<p>We collaborate with the best of industry and academia to fulfill the objectives.</p>
			</div>
			<div class="col-md-4 features-grass">
				<a href="#"><img class="img-responsive" src="images/cycle.jpg" alt=""/></a>
				<h4>Diversity</h4>
				<p>From team-members to location based projects we pick out the best in diversity.It widens our perspective.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		</div>
</div>