<div  id="top" class="callbacks_container">
  <ul class="rslides" id="slider4">
    <li>
      <img src="images/banner.jpg" alt="">
		<div class="caption bounceInDown" data-wow-delay="0.4s">
      	<div class="slide-text-info">
      		<h1>welcome to our marketplace</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed nisi metus,tristique ndolor non,ornare sagittis dolor.Nulla vestibulu lacus...</p>
      		<div class="slide-btns">
      			<a class="startnow" href="#">VIWE MORE</a>
      			<a class="livedemo" href="#">VIDEO TOUR</a>
      		</div>
      	</div>
      </div>
    </li>
    <li>
      <img src="images/leaf.jpg" alt="">
    <div class="caption">
      	<div class="slide-text-info bounceInDown" data-wow-delay="0.4s">
      		<h1>welcome to our marketplace</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed nisi metus,tristique ndolor non,ornare sagittis dolor.Nulla vestibulu lacus...</p>
      		<div class="slide-btns">
      			<a class="startnow" href="#">VIWE MORE</a>
      			<a class="livedemo" href="#">VIDEO TOUR</a>
      		</div>
      	</div>
      </div>
    </li>
    <li>
      <img src="images/banner.jpg" alt="">
      <div class="caption">
      	<div class="slide-text-info bounceInDown" data-wow-delay="0.4s">
      		<h1>welcome to our marketplace</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed nisi metus,tristique ndolor non,ornare sagittis dolor.Nulla vestibulu lacus...</p>
      		<div class="slide-btns">
      			<a class="startnow" href="#">VIWE MORE</a>
      			<a class="livedemo" href="#">VIDEO TOUR</a>
      		</div>
      	</div>
      </div>
    </li>
  </ul>
</div>	         
		   
	
