<div  id="top" class="callbacks_container">
  <ul class="rslides" id="slider4">
    <li>
      <img src="../../images/b1.jpg" alt="">
		<div class="caption bounceInDown" data-wow-delay="0.4s">
      	<div class="slide-text-info">
      		<h1>Connect</h1>
			<p>With people based on particular fied of interest and get to know mor about the activities / initiatives they are engaged in...</p>
      		<div class="slide-btns">
      			<a class="livedemo" href="#">VIEW MORE</a>
      		</div>
      	</div>
      </div>
    </li>
    <li>
      <img src="../../images/b2.jpg" alt="">
    <div class="caption">
      	<div class="slide-text-info bounceInDown" data-wow-delay="0.4s">
      		<h1>Interact</h1>
			<p>With communities in forum relate dto specific branch and buid network with like minded people across institutions...</p>
      		<div class="slide-btns">
      			<a class="livedemo" href="#">VIEW MORE</a>
      		</div>
      	</div>
      </div>
    </li>
    <li>
      <img src="../../images/b3.jpg" alt="">
      <div class="caption">
      	<div class="slide-text-info bounceInDown" data-wow-delay="0.4s">
      		<h1>Explore</h1>
			<p>New opportunities and endeless positibilities in respective branches of study and profession, in collaboration with academia indutry...</p>
      		<div class="slide-btns">
      			<a class="livedemo" href="#">VIEW MORE</a>
      		</div>
      	</div>
      </div>
    </li>
  </ul>
</div>	         
		   
	
