<div class="content-what" id="services">
	<div class="container">
		<div class="content-we">
			<h2><span class="we-are"> </span>
			our community.</h2>
		</div>
		<div class="row">
			<div class="col-md-3 easy-them">
				<a href="#/engineering"><img class="img-responsive" src="images/services/Engg.png" alt=""/></a>
				<h4>Engineering</h4>
				<p>Demo Text.</p>
			</div>
			<div class="col-md-3 easy-them">
				<a href="#/humanities"><img class="img-responsive" src="images/services/Humanities.png" alt=""/></a>
				<h4>Humanities</h4>
				<p>Demo Text.</p>
			</div>
			<div class="col-md-3 easy-them">
				<a href="#/general-science"><img class="img-responsive" src="images/services/General Science.png"  alt=""/></a>
				<h4>General Science</h4>
				<p>Demo Text.</p>
			</div>
			<div class="col-md-3 easy-them">
				<a href="#/commerce"><img class="img-responsive" src="images/services/Commerce.png" alt=""/></a>
				<h4>Commerce</h4>
				<p>Demo Text.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		
		<div class="row">
			<div class="col-md-3 easy-them">
				<a href="#/medical"><img class="img-responsive" src="images/services/Medical.png" alt=""/></a>
				<h4>Medical</h4>
				<p>Demo Text.</p>
			</div>
			<div class="col-md-3 easy-them">
				<a href="#/law"><img class="img-responsive" src="images/services/Law.png" alt=""/></a>
				<h4>Law</h4>
				<p>Demo Text.</p>
			</div>
			<div class="col-md-3 easy-them">
				<a href="#/performing-arts"><img class="img-responsive" src="images/services/performing art.png"  alt=""/></a>
				<h4>Performing Arts</h4>
				<p>Demo Text.</p>
			</div>
			<div class="col-md-3 easy-them">
				<a href="#/fine-arts"><img class="img-responsive" src="images/services/Arts.png" alt=""/></a>
				<h4>Fine Arts</h4>
				<p>Demo Text.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>	
</div>