
			<div class="content-we-are" id="team">
			
				<div class="container">
					<div class="content-we">
						<h2><span class="we-are"> </span>
						meet our team.</h2>
					</div>
				<div class="row">
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Abbaz.PNG" /></a>
						<div class="image-bro">
						<h4>Abbaz Sayed</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Ankit.PNG" /></a>
						<div class="image-bro">
						<h4>Ankit Debnath</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Ayush.PNG" /></a>
						<div class="image-bro">
						<h4>Ayush Goyal</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Bharti.PNG" /></a>
						<div class="image-bro">
						<h4>Abishek Bharti</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Roy.PNG" /></a>
						<div class="image-bro">
						<h4>Riddhinil Roy</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Saikat.PNG" /></a>
						<div class="image-bro">
						<h4>Saikat Bhunia</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="image-matter">
						<a href="#"><img class="img-responsive" src="images/team/Sounok.PNG" /></a>
						<div class="image-bro">
						<h4>Sounok Kashyap</h4>
						<p>Founder</p>
						</div>
						<ul class="img-social-stags">
							<li><a class="twitter" href="#"><span> </span></a><li>
							<li><a class="facebook" href="#"><span> </span></a><li>
							<li><a class="linkedin" href="#"><span> </span></a><li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
				
				</div>
			</div>
			</div>