<div class="content-part-work" id="work">
	<div class="container">
		<div class="content-work">
			<h2><span class="work"> </span>
			Objectives</h2>
		</div>
	<div class="row">
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/sky.jpg"  alt=""/></a>
				<span class="plus"> </span>
				
				<p class="partnership-guid">To connect people based on their specific branch of study & profession.</p>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/high.jpg" alt=""/></a>
				<span class="plus"> </span>
				<p class="partnership-guid">To host a platform interconnecting people from different fields.</p>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/road.jpg" title="sky" alt=""/></a>
				<span class="plus"> </span>
				<p class="partnership-guid">To develop skills pertaining to their respecting fields.</p>
				
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/sea.jpg"  alt=""/></a>
				<span class="plus"> </span>
				
				<p class="partnership-guid">Encourage innovation and nurture it.</p>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/stone.jpg" alt=""/></a>
				<span class="plus"> </span>
				<p class="partnership-guid">Reach out to the under-priveleged sections and assist them.</p>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/bird.jpg" title="sky" alt=""/></a>
				<span class="plus"> </span>
				<p class="partnership-guid">Facilitate better connectivity between industry experts and students.</p>
				
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>	
	
	<div class="row">
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/sea.jpg"  alt=""/></a>
				<span class="plus"> </span>
				
				<p class="partnership-guid">Develop more opportunities.</p>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/stone.jpg" alt=""/></a>
				<span class="plus"> </span>
				<p class="partnership-guid">Engage people in learning with a complete new social perspective.</p>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/bird.jpg" title="sky" alt=""/></a>
				<span class="plus"> </span>
				<p class="partnership-guid">To improve the current learning standards.</p>
				
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/sea.jpg"  alt=""/></a>
				<span class="plus"> </span>
				
				<p class="partnership-guid">To create a better industry-academia collaboration.</p>
				
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	</div>
</div>
		