<div class="content-part-work" id="work">
	<div class="container">
		<div class="content-work">
			<h2><span class="work"> </span>
			lovely work.</h2>
		</div>
	<div class="row">
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/sky.jpg"  alt=""/></a>
				<span class="plus"> </span>
				
				<p class="partnership-guid">partnership guidlines</p>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/high.jpg" alt=""/></a>
				<span class="plus"> </span>
				<p class="partnership-guid">partnership guidlines</p>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/road.jpg" title="sky" alt=""/></a>
				<span class="plus"> </span>
				<p class="partnership-guid">partnership guidlines</p>
				
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/sea.jpg"  alt=""/></a>
				<span class="plus"> </span>
				
				<p class="partnership-guid">partnership guidlines</p>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/stone.jpg" alt=""/></a>
				<span class="plus"> </span>
				<p class="partnership-guid">partnership guidlines</p>
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="partnership">
				<a href="#"><img class="img-responsive" src="images/bird.jpg" title="sky" alt=""/></a>
				<span class="plus"> </span>
				<p class="partnership-guid">partnership guidlines</p>
				
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="show-me">
	<a class="show-more"href="#">SHOW ME MORE</a>
	</div>
	</div>
</div>
		